<div class="container">
  <div class="titleSection">
    <h2>Top Crypto Exchanges</h2>
    <p>Compare all 190 top crypto exchanges. The list is ranked by trading volume.</p>
    <b>Exchanges</b>
  </div>
  <hr>
  <div class="tableSection">
    <input type="search" placeholder="Find an Exchange" (keyup)="applyFilter($event)">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="exchanges">
        <mat-header-cell *matHeaderCellDef> EXCHANGES </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;" class="detailSection">
          <div>{{i+1}}</div>
          <div><img [src]="element.url" alt="Coin Image" width="20" height="20"></div>
          <div>{{ element.name }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="volume">
        <mat-header-cell *matHeaderCellDef> 24H TRADE VOLUME </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.volume_1day_usd | currency: 'USD': 'symbol':'1.1-1' }} billion
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
    <mat-paginator #paginator [pageSize]="10" [length]="dataSource.data.length || 0" [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons></mat-paginator>
  </div>
</div>